<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/css/main/character.css" th:href="@{/css/main/character.css}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <title>Document</title>
</head>
<body>
    <html th:insert="~{main/menu :: frag_menu}"></html> 
    <div class="character-list">
        <div class="character"></div>
        <div class="character"></div>
        <div class="character"></div>
        <div class="character"></div>
        <div class="character"></div>
        <div class="character"></div>
        <div class="character"></div>
        <div class="character"></div>
        <div class="character"></div>

        <div class="character-detail">
            <p class="character-detail-close">×</p>
            <img class="character-detail-image">
            <div class="character-detail-show">
                <div class="character-detail-name">あいす</div>
                <div class="character-detail-explanation">氷を操る</div>
            </div>
        </div>
    </div>
    <script src="../../static/js/main/character.js" th:src="@{/js/main/character.js}"></script>
</body>
</html>