<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/css/main/home.css" th:href="@{/css/main/home.css}">
    <title>Document</title>
</head>
<body>
    <main>
        <html th:insert="~{/main/menu :: frag_menu}"></html>
        <div class="select-btn">
            <a th:href="@{/question/ice}"><button class="question-btn">氷ステージ</button></a>
            <a th:href="@{/question/light}"><button class="question-btn">光ステージ</button></a>
            <form th:action="@{/chapter/delete}" method="post"><button class="reset-btn">初めから</button></form>
            <form th:action="@{/chapter/load}" method="post"><button class="load-btn">続きから</button></form>
        </div>
    </main>
</body>
</html>