<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Loading Screen</title>
  <link rel="stylesheet" href="../../static/css/main/loading.css" th:href="@{/css/main/loading.css}">
</head>
<body>
  <div class="loading-screen">
    <div class="loading-icon"></div>
    <p>Loading...</p>
  </div>

  <!-- Your page content goes here -->

  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="../../static/js/main/loading.js" th:src="@{/js/main/loading.js}"></script>
</body>
</html>