<!DOCTYPE html>
<html lang="ja" th:fragment="frag_story">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/css/main/story.css" th:href="@{/css/main/story.css}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <title>Document</title>
</head>
<body>
    <div class="story-screan">
        <div class="character-list"></div>
        <div class="story-names"></div>
        <div class="story-comments"></div>
    </div>   
    <input type="hidden" class="speed-value"> 
    <script type="module" src="../../static/js/main/story.js" th:src="@{/js/main/story.js}"></script>
</body>
</html>