main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.item{
    width: 100px;
    height: 100px;
}

.light{
    width: 100px;
    height: 100px;
}

.cursor-change {
    cursor: pointer;
}

body{
    background-color: black;
    position: relative;
}

.cursor-light{
    position: absolute;
    top: -10px;
    left: -10px;
    padding: 30px;
    background-color: white;
    border-radius: 50%;
    z-index: -1;
    display: none;
}