<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/css/question/cave-road-question.css" th:href="@{/css/question/cave-road-question.css}">
    <link rel="stylesheet" href="../../static/css/question/my-question.css" th:href="@{/css/question/my-question.css}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <title>Document</title>
</head>
<body>
    <div class="cave-road-screan">
        <h1>1</h1>
        <div class="left-screan">《</div>
        <div class="right-screan">》</div>       
    </div>

    <div class="cave-road-screan">
        <h1>2</h1>
        <div class="left-screan">《</div>
        <div class="right-screan">》</div>       
    </div>

    <div class="cave-road-screan">
        <h1>3</h1>
        <div class="left-screan">《</div>
        <div class="right-screan">》</div>       
    </div>

    <script type="module" src="../../static/js/question/my-question.js" th:src="@{/js/question/my-question.js}"></script>
    <script type="module" src="../../static/js/question/cave-road-question.js" th:src="@{/js/question/cave-road-question.js}"></script>
</body>
</html>