<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/css/question/ice-question.css" th:href="@{/css/question/ice-question.css}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <title>Document</title>
</head>
<body>
    <html th:insert="~{/main/loading :: frag_loading}"></html>
    <html th:insert="~{/main/story :: frag_story}"></html>
    <html th:insert="~{/main/menu :: frag_menu}"></html>
    <!-- <header th:insert="~{/main/header-footer :: frag_header}"></header> -->
    <main>
        <h1 class="ice-title">氷ステージ</h1>
        <div class="ice-field">
            <div class="ice-stage">
                <div th:each="item:${session.itemList}">
                    <div th:if="${item.genre=='ice'}">
                        <h2 class="ice-word">1</h2>
                        <img src="../../static/image/ice.png" th:src="@{/image/}+${item.image}" th:class="${item.genre}" 
                        th:value="${item.have}" th:item-id="${item.id}">
                        
                    </div>
                </div>

                <div th:each="item:${session.itemList}">
                    <div th:if="${item.genre=='fire'}">
                        <img src="../../static/image/ice.png" th:src="@{/image/}+${item.image}" th:class="${item.genre}" 
                        th:value="${item.have}" th:item-id="${item.id}">                        
                    </div>
                </div>

                <div th:each="item:${session.itemList}">
                    <div th:unless="${item.genre=='fire' || item.genre=='ice'}">
                        <img src="../../static/image/ice.png" th:src="@{/image/}+${item.image}" th:class="${item.genre}" 
                        th:value="${item.have}" th:item-id="${item.id}">                        
                    </div>
                </div>
            </div>
        </div>
        <p>解答はこちら👇</p>
        <input type="text" class="ice-answer">
        <button class="ice-button">解答</button>
        <a th:href="@{/question/light}"><img src="../../static/image/door.png" th:src="@{/image/door.png}" class="ice-door"></a>

        <html th:insert="~{/main/item-box :: frag_item}"></html>
    </main>
    <script type="module" src="../../static/js/question/ice-question.js" th:src="@{/js/question/ice-question.js}"></script>
    <script type="module" src="../../static/js/main/my-item.js" th:src="@{/js/main/my-item.js}"></script>
    <script type="module" src="../../static/js/main/delete-item.js" th:src="@{/js/main/delete-item.js}"></script>
</body>
</html>