main{
    position: fixed;
    top: 0px;
    right: 0px;
    left: 0px;
    right: 0px;
    height: 100%;
    width: 100%;
    background-image: url('../../image/main/cave-blue.jpg');
    background-size: cover;       
}

.check-screan{
    position: fixed;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0,0.8);
    z-index: 5;
    display: none;
}

.check-box{
    position: fixed;
    top: 20%;
    left: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width:400px;
    height: 250px;
    padding: 70px 10px 30px 10px;
    border: 1px solid black;
    border-radius: 20px;
    z-index: 101;
    background-color: white;
    z-index: 5;
    position: relative;
}

.return-position{
    position: absolute;
    top: 0px;
    right: 20px;
}

.check-message{
    color: red;
    font-size: 20px;
}

.check-select{    
    display: flex;
    margin: 50px
}

.check-btn{
    padding: 10px;
    font-size: 20px;
    color: white;
    border-radius: 10px;
    background-image: url(../../image/main/black-paper.jpg);
    margin-bottom: 20px;
    box-shadow: 5px 5px black;    
    margin: 20px;
}

.select-btn{
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 0;
    right: 0;
}

.reset-btn, .load-btn,.question-btn{
    width: 200px;
    padding: 10px;
    font-size: 30px;
    border-radius: 20px;
    margin: 10px 20px 10px 0px;
    background-image: url(../../image/main/btn1.jpg);
    color: white;
}

.reset-btn:hover, .load-btn:hover,.question-btn:hover,.check-btn:hover{
    opacity: 0.7;
}