main{
    position: fixed;
    top: 0px;
    right: 0px;
    left: 0px;
    right: 0px;
    height: 100%;
    width: 100%;
    background-image: url('../../image/main/cave-blue.jpg');
    background-size: cover;       
}

.select-btn{
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 0;
    right: 0;
}

.reset-btn, .load-btn,.question-btn{
    width: 200px;
    padding: 10px;
    font-size: 30px;
    border-radius: 20px;
    margin: 10px 20px 10px 0px;
    background-image: url(../../image/main/btn1.jpg);
    color: white;
}

.reset-btn:hover, .load-btn:hover,.question-btn:hover{
    opacity: 0.7;
}